################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BluetoothMesh.Infrastructure/obj/Debug/build.force
